:root{
    --primary-color: #f6a700;
    --items-color: #463105;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section button{
    background-color: var(--primary-color);
    border-radius: 100px;
    border: none;
    height: 2rem;
    width: 10rem;
    box-shadow: 0 0rem 2rem -.1rem var(--items-color);
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 45vw;
    cursor: pointer;
}
section button:hover{
    border: 2px solid var(--items-color);
    transform: scale(1.1);
}
section button{ animation: pulse 2s infinite;}
@keyframes pulse {
    0%, 100%{transform: scale(1);}
    50%{transform: scale(1.2);}
}

button[name="donate"]{
    background: linear-gradient(to left, #1E8B12, #25B615);
  }
  